nav {
  display: flex;
  justify-content: space-between;
}

.items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.items li {
  float: left;
}

.items li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0 20px;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  transition: 0.5s;
}

.items li a:hover {
  color: hsl(227, 12%, 61%);
}

.start button {
  position: relative;
  margin-top: -10px;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  font-weight: 700;
  outline: none;
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.start button::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 300ms;
}

.start button:hover::before {
  opacity: 1;
}

.bg-head path {
  fill: hsl(13, 100%, 96%);
}

.burger {
  display: none;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .items {
    display: none;
  }

  .start {
    display: none;
  }

  .burger {
    display: block;
  }
  .menu-collapse {
    background-color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    width: 90%;
  }

  .menu-collapse .list {
    padding: 5% 0;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
  }

  .menu-collapse p {
    text-align: center;
    padding: 1% 0;
  }
}
